extends layout

block content
  h1= title

  div(class='page')
    button#add-btn(class='btn' type='button')
      p= "Ajouter"
    //div(class='container add-form')
    block box
    each val in values
      div(class='container')
        div(class='recipe')
          div(class='denomination')
            p(class='title')= val.name
            div(class='logo '+val.type)
          each elem in val.recipe
            ul
              li= elem
        div(class='price')
          p= val.price+" €"