extends layout


block content
  h1= title
  //p Welcome to #{title}

  each val in values
    div(class='page')
      div(class='container')
        div(class='recipe')
          div(class='denomination')
            p(class='title')= val.name
            div(class='logo '+val.type)
          each elem in val.recipe
            ul
              li= elem
        div(class='price')
          p= val.price+" €"